.chart {
  width: 343px;
  height: 210px;
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 30px;
}

.chart_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chart_heading {
  width: 100px;
  height: 32px;
  background: #f1f3f6;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chart_heading img {
  padding-top: 3px;
}

.chart_description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #94afb6;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 30px;
}

.income_div {
  width: 171.5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.income_circle {
  width: 48px;
  height: 48px;
  background-color: #41be06;
  border-radius: 50%;
}

.income_circle img,
.spending_circle img {
  padding-top: 15px;
}

.spending_div {
  width: 171.5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.spending_circle {
  width: 48px;
  height: 48px;
  background-color: #eb1f39;
  border-radius: 50%;
}

.income_description,
.spending_description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 2px;
  display: flex;
  align-items: center;
  color: #94afb6;
}

.income_heading,
.income_heading {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 2px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #3d6670;
}

hr {
  margin-top: 20px;
  background-color: #dddddd;
}

.show_heading {
  outline: none;
  border: none;
  background-color: #fff;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #404cb3;
  margin: 0 auto;
  padding-top: 10px;
}
