.container {
  max-width: 700px;
  margin: 0 auto;
}

.monitoring_header {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.monitoring_link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #404cb2;
}

.monitoring_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 50px;
}

.monitoring_btn {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #404cb2;
}

.card {
  background: linear-gradient(108.85deg, #243972 0%, #14234a 100%);
  border-radius: 10px;
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.card_heading,
.card_heading_second {
  color: #fff;
}

.card_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding: 23px 20px;
}

.card_div {
  padding: 0 0 0 150px;
}

.card_description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 5px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #94afb6;
  padding-left: 15px;
}

.card_heading_second {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
}




