.body {
    background: #F1F3F6;
    height: 100vh;
}

.header__logo {
    padding: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.header__logo h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    color: #3D6670;
    margin: 0;
}

.main__form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 310px;
    padding: 16px 12px;
    padding-left: 30px;
    border: none;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #3D6670;
}

input::placeholder {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #94AFB6;
}

input:focus {
    outline: none;
}

.email__input {
    border-bottom: 1px solid #DDDDDD;
}

.input__frames {
    position: absolute;
    top: calc(50% - 12px);
    left: 2px;
}

.frame__wrapper {
    position: relative;
}

.form__input_wrapper {
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.frame__wrapper a {
    position: absolute;
    top: 85px;
    left: -8px;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #404CB3;
    text-decoration: none;
}

.form__btn_wrapper2 {
    margin-top: 260px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.submit__btn {
    background-color: #404CB3;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    padding: 15px 48px;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.btn {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    padding: 15px 48px;
    color: #404CB3;
    border: none;
    background-color: transparent;

}