.header__of_landing {
    background: #243972;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    box-sizing: border-box;
}

.icons {
    width: 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector {
    width: 300px;
    position: relative;
}

.selector:active {
    background-color: none;
}

.rotate {
    transform: rotate(180deg);
}

.selector img {
    transition-duration: 0.2s;
}

#selectField {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

#selectField p {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.header__list {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: calc(50% - 110px);
    width: 70%;

    background: transparent;
    backdrop-filter: blur(3.5px);
    border-radius: 13px;
    transform: translateY(-10%);
    transition: all 0.2s ease-in;
    z-index: -1;
    opacity: 0;
}

.header__list_items {
    padding: 22px 20px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    cursor: pointer;
}

.header__list_items:hover {
    background-color: grey;
}

.header__list_items:hover p {
    color: white;
}

.border {
    border-radius: 13px 13px 0 0;
}

.border1 {
    border-radius: 0 0 13px 13px;
}

.exept__item {
    margin-top: 10px;
    border-radius: 13px;
    text-align: center;
}

.header__list_items p {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3D6670;
    cursor: pointer;
}

.show {
    transform: translateY(0);
    opacity: 1;
    z-index: 9999;
}

.balance {
    padding: 30px 0 95px 0;
}

.balance p {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #A8ADDD;
}

.balance h2 {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: #FFFFFF;
}