.history {
  width: 343px;
  margin: 0 auto;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 100px;
}

.history_include {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.history_heading {
  padding: 10px 20px;
  background: #f1f3f6;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 10px 0 0 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #404cb2;
  transition: all 0.3s ease-in-out;
}

.history_heading:hover {
  background-color: #404cb2;
  color: #fff;
}

.history_date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 180px;
}

.history_description {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #94afb6;
}

.main_heading {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #41be06;
  border-radius: 12px;
  padding: 2px 5px;
}

.history_monitoring {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 15px;
}

.history_img {
  width: 25px;
  height: 25px;
}

.history_icon {
  text-align: start;
  display: flex;
  align-items: center;
}

.history_icon img {
  background-color: #f1f3f6;
  border-radius: 50%;
  padding: 10px;
}

.hisrory_main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.salary_description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #3d6670;
  padding-left: 10px;
}

.monitoring_date {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.history_clock {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  text-align: right;
  color: #94afb6;
  width: 100%;
}

.history_money {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 8px;
  color: #41be06;
  padding-right: 10px;
}

.money {
  color: #eb1f39;
}
