.body {
    background: #F1F3F6;
    height: 100vh;
}

.header__logo {
    padding: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.header__logo h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    color: #3D6670;
    margin: 0;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 310px;
    padding: 16px 12px;
    padding-left: 30px;
    border: none;
}

input::placeholder {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #94AFB6;
}

.email__input {
    border-bottom: 1px solid #DDDDDD;
}

.input__frames {
    position: absolute;
    top: 10px;
    left: 2px;
}

.frame__wrapper {
    position: relative;
}

.form__input_wrapper {
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
}