.main_container {
  background-color: #213873;
  width: 100%;
}

.main_card {
  margin: 0 auto;
  padding-bottom: 115px;
}

.card_header {
  max-width: 343px;
  padding: 0 27px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.card_btn {
  position: absolute; 
  top: calc(50% - 14px);
  right: 0;
  background-color: #213873;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.cards {
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 23px 27px;
  width: 343px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.cards_description {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1px;
  color: #3d6670;
}

.card_span {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 1px;
  color: #3d6670;
}

.cards_include {
  text-align: left;
  flex-grow: 1;
}

.cards img {
  width: 96px;
  height: 70px;
  object-fit: contain;
}

.addWallet {
  margin: 0 auto;
  padding: 50px 50px;
  width: 399px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #404cb2;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.addWallet span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  flex-grow: 1;
}